<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
        <!-- Font awesome -->
        <script src="https://kit.fontawesome.com/c4079020c3.js" crossorigin="anonymous"></script>

        <style>
            body{
                background-color: teal;
            }
            #flash-success {
                -webkit-animation: fadeinout 6s linear forwards;
                animation: fadeinout 6s linear forwards;
            }

            @-webkit-keyframes fadeinout {
            0%,100% { opacity: 0; }
            20% { opacity: 1; }
            }

            @keyframes fadeinout {
            0%,100% { opacity: 0; }
            20% { opacity: 1; }
            }
            #flash-error {
                -webkit-animation: fadein 1s linear forwards;
                animation: fadein 1s linear forwards;
            }

            @-webkit-keyframes fadein {
            0% { opacity: 0; }
            100% { opacity: 1; }
            }

            @keyframes fadein {
            0% { opacity: 0; }
            100% { opacity: 1; }
            }
        </style>
    
        <title>Email Verification</title>
    </head>
    
    <body>
    
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark m-0 p-0">
            <a class="navbar-brand" href="/"> &emsp;Email Verification|| Test</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="/login">Login <span class="sr-only">(current)</span></a>
                    <a href="/sign-up" class="nav-item nav-link">Sign Up</a>
                    <a href="/profile" class="nav-item nav-link">Profile</a>
                    <a href="/logout" class="nav-item nav-link">Logout</a>
                </div>
            </div>
        </nav>
        <div class="container">
            <% if (error && error.length > 0){ %>
                <div class="alert alert-danger" role="alert" id="flash-error">
                    <%= error %>
                </div> 
            <% } %>
            <% if (success && success.length > 0){ %>
                <div class="alert alert-success" role="alert" id="flash-success">
                    <%= success %>
                </div> 
            <% } %>
        </div>
