<%- include("./partials/header") -%>

<div class="container">
    <div class="jumbotron text-white my-4" style="background-color: rgba(0, 0, 0, 0.5);">
        <h1 class="display-4">Full Local Auth Test</h1>
        <p class="lead">This is a fully fledged local auth test done using <em>MongoDB, mongoose, passport, passport-local, passport-local-mongoose, cookie-session, node-mailer, and crypto</em>.</p>
        <hr class="my-4">
        <p><strong>Flow: </strong>User gets created, verification email with link and token gets sent. If the specified email is wrong, the user can re-submit and a token and link will be sent to the new email. If the token is expired, a new token and link will be sent to the same email, or the new email. The user can verify through manually inputing the token into a form, or by following the link which will automatically verify the account and redirect to the profile. The profile can only be seen after authentication. To change the password from the profile you can do it through a form that requires the current password and a new password. If you forgot your password, you can reset it through an email by submitting a valid email for a user. Doing this creates a token and a link that get sent to the specified email in order to reset the password.</p>
        <a class="btn btn-primary btn-lg" href="/sign-up" role="button">Try it out!</a> &emsp;or&emsp;
        <a class="btn btn-primary btn-lg" href="/login" role="button">Login!</a> &emsp;if you already have an account!
    </div>
</div>

<%- include("./partials/footer") -%>