<%- include("./partials/header") -%>

<div class="container my-4 text-white">
    <!-- TOKEN CHANGE -->
    <form action="/password-forgot" method="POST">
        <h1 class="display-4">Password Reset</h1>
        <h3>Forgot your password?</h3>
        <p>
            Type your email and we will send a reset link to your profile and a token you can input below to reset your password!
        </p>
        <div class="form-group">
            <label for="exampleInputEmail1">Verification Email</label>
            <input type="email" class="form-control" placeholder="Registered Email" name="email" required>
        </div>
        <button type="submit" class="btn btn-primary">Send Email Reset</button>
    </form>
</div>

<%- include("./partials/footer") -%>