<%- include("./partials/header") -%>

<script type="text/javascript">
    function checkPass() {
        //Store the password field objects into variables ...
        let password = document.getElementById('contraseña');
        let confirm = document.getElementById('verificacion');
        //Store the Confirmation Message Object ...
        let message = document.getElementById('mensaje-verificacion');
        let lengthMessage = document.getElementById('mensaje-longitud');
        let submitButton = document.getElementById('submit-button')
        //Set the colors we will be using ...
        let good_color = "#66cc66";
        let bad_color = "#ff6666";
        //Compare the values in the password field 
        //and the confirmation field
        if (password.value.length <8){
            lengthMessage.innerHTML = 'Minimo 8 caracteres'
            lengthMessage.style.color = bad_color;
            message.innerHTML = null
        }else if (password.value == confirm.value) {
            lengthMessage.innerHTML = null
            //The passwords match. 
            //Set the color to the good color and inform
            //the user that they have entered the correct password 
            confirm.style.backgroundColor = good_color;
            message.style.color = good_color;
            message.innerHTML = 'Contraseñas coinciden';
            submitButton.disabled = false
        } else {
            lengthMessage.innerHTML = null
            //The passwords do not match.
            //Set the color to the bad color and
            //notify the user.
            confirm.style.backgroundColor = '#fff';
            message.style.color = bad_color;
            message.innerHTML = 'Contraseñas no coinciden';
            submitButton.disabled = true
        }
    }  
</script>

<%let tokenValue = null%>
<%if(token){%>
    <%tokenValue = token%>
<%}%>

<div class="container text-white my-4">
    <!-- TOKEN VERIFY -->
    <h1 class="display-4">Password Reset</h1>
    <form action="/password-forgot?_method=PUT" method="POST">
        <div class="form-group">
            <p>
                <%=success%>
            </p>
            <div class="form-group">
                <label for="exampleInputEmail1">Token Value</label>
                <input type="text" class="form-control" placeholder="Token Value" name="token" value="<%=tokenValue%>">
            </div>
            <div class="row">
                <div class="form-group col-lg-6">
                    <label for="contraseña">New Password &emsp;<span id="mensaje-longitud" class="mensaje-longitud"></span></label>
                    <input name="newPassword" type="password" class="form-control" placeholder="Password" minlength="8" id="contraseña" onkeyup="checkPass()" required>
            </div>
            <div class="col-lg-6">
                <label for="verificacion">Confirm New Password &emsp;<span id="mensaje-verificacion" class="mensaje-verificacion"></span></label> 
                <input type="password" class="form-control" placeholder="Same Password" minlength="8" id="verificacion" onkeyup="checkPass()" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" id="submit-button" disabled>Change Password</button>
    </form>
</div>

<%- include("./partials/footer") -%>